@font-face {
    font-family: Fonte1 ;
    src: url(/public/fonts/Kelano\ Remora.otf);
}

@font-face {
    font-family: Fonte2 ;
    src: url(/public/fonts/Rapidly\ -\ PERSONAL\ USE\ ONLY.otf);
}


@font-face {
    font-family: Fonte3 ;
    src: url(/public/fonts/Rapidly\ -\ PERSONAL\ USE\ ONLY.ttf);
}


@font-face {
    font-family: Fonte4 ;
    src: url(/public/fonts/ZTGatha-SemiBold.otf);
}


@font-face {
    font-family: Fonte5 ;
    src: url(/public/fonts/ZTGatha-SemiBold.ttf);
}
